@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply antialiased;
    overscroll-behavior: none;
  }

  input, select, textarea, button {
    font-size: 16px;
  }
}
