@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply antialiased;
    overscroll-behavior: none;
  }

  input, select, textarea, button {
    font-size: 16px;
  }
}

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top, 0px);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 0px);
  }
}
